.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 20px
}
.logo {
    margin-top: 30px;
    margin-left: 15px;
    cursor: pointer
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}
.img_filter {
    filter: grayscale(100%);
  }

.videoInsert {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}  