<div class="container mt-5 mb-5 p-5">

    <div class="row mt-3 mb-3">
  
    <div class="col d-flex flex-column justify-contents-center mt-3 mb-3" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0 mt-3 mb-3">
        <h3 class="text-center text-warning">ABOUT WAVEGRIDSTUDIO</h3>
        <p class="font-italic text-white">
            Wavegrid architects is a visualization company founded in 2016 that has developed more than 
            1000 high quality renderings, images and animations 
            for clients in Kenya and around Africa.
        </p>
        </div>
    </div>
</div>

</div>