<div class="container-fluid mb-4 mt-3 p-5">
    <h4 class="text-center text-warning">DESIGN</h4>
    <div class="row" style="display: flex;">
        
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get your budget</p>
                </div>
            </div>

        </div>
    </div>
    <h4 class="text-center text-warning">VISUALIZATION</h4>
    <div class="row">
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get work on your project</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get work on your project</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get work on your project</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-2 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">We get work on your project</p>
                </div>
            </div>

        </div>

    </div>
</div>