<div class="mb-3 mt-3 p-5">
    <div>
        <h4 class="text-center text-warning text-uppercase">OUR PARTNERS</h4>
        </div>
    <div class="row" style="flex-wrap: wrap;">

        {% for partner in partners %}
            <div class="card m-2">
                <div class="card-body">
                    <img src="{{partner.image.url}}" alt=""
                    style="box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 80px 4px; width: 100px; height: 70px;">
                </div>
            </div>
            
        {% endfor %} 
       
            
       
    </div>
</div>