<div class="container p-4">
    <div class="row">
        <div class="mt-2 mb-3">
            <h2 class="text-warning d-flex" style="font-size: xx-large; font-weight: bolder;">WHAT WE DO</h2>
            <h5 class="text-white d-flex">Services We offer</h5>
         </div>
    </div>
    <div class="row">

        <div class="col-lg-6">

         <div class="mb-3 mt-3">
            <h2 class="mt-4 mb-4 text-warning" style="font-size: xx-large; font-weight: bold;"><i class="fa fa-building fa-2x"></i> COMMERCIAL RENDERING</h2>
             <p class="mt-4 mb-4 text-white"> Whether offices or real estate we will visualize your space using high quality still 3D shots.</p>
             <h2 class="mt-4 mb-4 text-warning" style="font-size: xx-large; font-weight: bold;"><i class="fas fa-couch fa-2x"></i> INTERIOR RENDERING</h2>
             <p class="mt-4 mb-4 text-white">We use this process to showcase still images and walkthroughs of individual rooms and spaces.</p>
             <h2 class="mt-4 mb-4 text-warning" style="font-size: xx-large; font-weight: bold;"><i class="fa fa-home fa-2x"></i> EXTERIOR RENDERING</h2>
             <p class="mt-4 mb-4 text-white">You will be able to view landscapes, masterplans and terrain in stunning realistic quality.</p>
             <h2 class="mt-4 mb-4 text-warning" style="font-size: xx-large; font-weight: bold;"><i class="fas fa-chair fa-2x"></i> PRODUCT RENDERING</h2>
             <p class="mt-4 mb-4 text-white">These are photo realistic images that are used in marketing and advertising, displaying one single product from different angles.</p>
             <h2 class="mt-4 mb-4 text-warning" style="font-size: x-large; font-weight: bold;"><i class="far fa-images fa-2x"></i> 3D FLOOR PLAN RENDERING</h2>
             <p class="mt-4 mb-4 text-white">Cost-effective method to understand an architectural floor plan.</p>
             <h2 class="mt-4 mb-4 text-warning" style="font-size: xx-large; font-weight: bold;"><i class="fa fa-video fa-2x"></i> 3D ANIMATION & VR</h2>
             <p class="mt-4 mb-4 text-white">Movie showcase about the space and fully immersive 360 degree viewing experience.</p>
            
         </div>

        </div>
        <div class="col-lg-6">
            <img src="https://static.wixstatic.com/media/ad7871_0cfc1bc254b0433f9af66f8c92bc1390~mv2.png/v1/fill/w_912,h_1511,al_c,q_90,usm_0.66_1.00_0.01/ad7871_0cfc1bc254b0433f9af66f8c92bc1390~mv2.webp"
            alt="" class="img-fluid">

        </div>
    </div>
</div>

<!-- New Century Schoolbook, TeX Gyre Schola, serif -->